CMakeCache.txt
CMakeFiles
CMakeLists.txt
DisplayImage
Makefile
cmake_install.cmake
*.vcxproj
*.sln
ALL_BUILD.vcxproj.filters
DisplayImage.vcxproj.filters
ZERO_CHECK.vcxproj.filters
*.tlog
DisplayImage.dir/Debug/vc120.pdb
DisplayImage.opensdf
DisplayImage.sdf
DisplayImage.v12.suo
Win32/Debug/ZERO_CHECK/ZERO_CHECK.log
Debug/
